{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the primary menu region.
 * - page.title: Items for the title region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.footer_nav: Items for the footer nav region.
 * - page.footer_undernav: Items for the footer under nav region.
 * - page.footer_bottom: Items for the footer bottom region.
 * - page.footer_credits: Items for the footer credits region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set is_page = (node.getType() == 'sf_page') ? TRUE %}

{%
  set layout_classes = [
  not page.sidebar_first|render and not page.sidebar_second|render and not right_split ? 'layout--default',
  page.sidebar_first|render and not page.sidebar_second|render and not right_split ? 'layout--basic',
  page.sidebar_second|render and not page.sidebar_first|render and not left_split ? 'layout--basic layout--basic--reverse',
  page.sidebar_first|render and page.sidebar_second|render and not left_split and not right_split ? 'layout--basic layout--basic--3-column',
  left_split ? 'layout--basic layout--basic--left-split',
  right_split ? 'layout--default xxx-layout--basic xxx-layout--basic--right-split'
]
%}
{% if page.message %}
  {{ page.message }}
{% endif %}

<header id="header">
  {% if page.university_header|render %}
    {{ page.university_header }}
  {% endif %}
  <div class="header-wrap">
    {{ page.header }}
    {{ page.secondary_navigation }}
    {{ page.navigation }}
    {% include "@siteden-components/navigation--hamburger.html.twig" %}
  </div>
</header>

<main id="main-content" tabindex="-1">

  {% if page.full_width_top %}
    <div class="panel">
      {{ page.full_width_top }}
    </div>
  {% endif %}

  {% if page.pre_content %}
    <div class="layout__container">
      {{ page.pre_content }}
    </div>
  {% endif %}

  {% if format__title_banner %}
    <div class="layout__container layout--banner">
      {{ drupal_block('system_breadcrumb_block') }}

      {% set banner_image = format__title_image_field ? drupal_entity('media', format__title_image_field, 'hero_banner_background_image') %}

      {% include '@siteden-components/banner--ribbon-text.html.twig' with {
        title: node.title.value,
        image: banner_image,
      } %}
    </div>
  {% endif %}

  <div class="layout__container {{ layout_classes|join(' ') }}">
    {% if page.title|render and not format__title_banner %}
      <div class="layout__title">
        {{ page.title }}
      </div>
    {% endif %}

    <div class="layout__content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first|render %}
      <aside class="layout__sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second|render %}
      <aside class="layout__sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </div>
</main>

{% if page.full_width_bottom %}
  <div class="panel panel--flush">
    {{ page.full_width_bottom }}
  </div>
{% endif %}

{% include "@siteden-components/footer--department.html.twig" with { footer_left: page.footer, footer_nav: page.footer_nav, footer_undernav: page.footer_undernav } %}
{% include "@siteden-components/footer--global.html.twig" %}
{{ page.footer_copyright }}
