{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a Slider block.
 *
 * Available variables:
 * - Look in the block.html.twig file for available variables.
 */
#}

{% set slideritems = [] %}

{% for key, item in content.field_p_slider_item|filter((value, key) => key|first != '#') %}
  {% set slideritems = slideritems|merge([{
    image: item['#paragraph'].field_sf_image.0|view,
  }]) %}
{% endfor %}

{% block content %}
{{ attach_library('siteden_components/sf_photo_slider') }}

<section class="sf_slider splide photo-slider" aria-label="Sliding banner">
  <div class="photo-slider-body">
    <div class="slider-item__body-outer">
      <div class="slider-item__body">
        <div class="slider-item__body-inner photo-slider-inner">
          {% if content.field_sf_title %}
            <h2 class="slider-item__title photo-silder-title">
              <span>{{ content.field_sf_title }}</span>
            </h2>
          {% endif %}
          {% if content.field_sf_hb_sub_title[0] %}
            <div class="slider-item__subtitle">
              <h3><span>{{ content.field_sf_hb_sub_title }}</span></h3>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <div class="splide__track">
    <ul class="splide__list">
      {% for key, item in content.field_p_slider_item|filter((value, key) => key|first != '#') %}
        <li class="splide__slide">

          <div class="slider-item slider-item--image-background-slider-heading">

            <div class="slider-item__image">
              {{ item['#paragraph'].field_sf_image.0|view }}
            </div>

          </div>

        </li>
      {% endfor %}

    </ul>
  </div>
  <button class="splide__toggle" type="button">
    <span class="splide__toggle__play"><img src="/themes/custom/siteden_surface_sub/assets/images/icons/denotive/play-white.svg"></span>
    <span class="splide__toggle__pause"><img src="/themes/custom/siteden_surface_sub/assets/images/icons/denotive/pause-white.svg"></span>
  </button>
</section>

  {% if content.field_wysiwyg or content.field_sf_link %}
    <div class="photo-slider-summary">
      <div class="slider-item__summary">
        <div class="slider-item__summary-inner">
          {{ content.field_wysiwyg }}
          {% if content.field_sf_link %}
            <div class="slider-item__button-group">
            
              <a href="{{ content.field_sf_link.0['#url']|render }}"
                class="slider-item__button">{{ content.field_sf_link[0]['#title'] }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
