{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass('chr_project').addClass(classes) }}>
  <div class="chr_project__about">
    {{ content.body }}
    {{ content.field_sf_tabs }}
  </div>
  {% if content.field_chr_percent_complete|render or content.field_chr_project_phase|render or content.field_chr_start_date|render or content.field_chr_end_date|render or content.field_chr_key_stakeholders|render %}
  <div class="chr_project__status">
    <h2>Project Status</h2>

    {{ content.field_chr_percent_complete }}
    {{ content.field_chr_project_phase }}
    {{ content.field_chr_start_date }}
    {{ content.field_chr_end_date }}
    {{ content.field_chr_key_stakeholders }}

  </div>
  {% endif %}
  {% if content.field_chr_support|render %}
  <div class="chr_project__support">
    {{ content.field_chr_support }}
  </div>
  {% endif %}
</article>
