{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {% if media %}
  <div class="article__media">
    {{ media }}
  </div>
  {% endif %}

  {% if byline or date or category %}
  <div class="article__meta">
    <ul>
      {% if byline %}
        <li>{{ byline }}</li>
      {% endif %}
      {% if date %}
        <li>{{ date }}</li>
      {% endif %}
      {% if category %}
        <li{{ attributes.addClass("article__category").addClass(category_class) }}>{{ category }}</li>
      {% endif %}
    </ul>
  </div>
  {% endif %}

  {% if body %}
  <div class="article__content">
    {{ body }}
  </div>
  {% endif %}

  {% if extra_content %}
    {{ extra_content }}
  {% endif %}

  {{ tags }}
</article>
