<article{{ attributes.addClass(classes) }}>
  {% if media.0 %}
    <div class="event__media">
      {{ media }}
    </div>
  {% endif %}

  <div class="event__info">
    <div class="event__title">
      {% if url %}
        <h3><a href="{{ url }}">{{ title }}</a></h3>
      {% else %}
        <h3>{{ title }}</h3>
      {% endif %}
    </div>
    {% if dates or location %}
    <div class="event__meta">
        <ul>
          <li>{{ dates }}</li>
          <li>{{ location }}</li>
        </ul>
    </div>
    {% endif %}
  </div>
</article>
