<article{{ attributes.addClass(classes) }}>
  {% if media.0 %}
    <div class="event__media">
      {% if is_featured %}
        <div class="featured-flag">Featured</div>
      {% endif %}
      {{ media }}
    </div>
  {% endif %}

  <div class="event__info">
    <div class="event__title">
      {% if url %}
        <a href="{{ url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </div>

    {% if summary %}
      <div class="event__summary">
        {{ summary }}
      </div>
    {% endif %}

    {% if date or time or location %}
      <div class="event__meta">
        {% if date or time %}
        <ul>
          {% if date %}
            <li class="icon icon--calendar">{{ date }}</li>
          {% endif %}
          {% if time %}
            <li class="icon icon--time">{{ time }}</li>
          {% endif %}
        </ul>
        {% endif %}

        {% if location %}
          <div class="icon icon--location">{{ location }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>
