<article{{ attributes.addClass(classes) }}>
  {% if media %}
    <div class="person__media">
      {% if is_featured %}
        <div class="featured-flag">Featured</div>
      {% endif %}
      {{ media }}
    </div>
  {% endif %}
  <div class="person__info">
    <div class="person__title">
    {% if url %}
      <h3><a href="{{ url }}">{{ title }}</a></h3>
    {% else %}
      <h3>{{ title }}</h3>
    {% endif %}
    </div>
  {% if pronouns %}
    <div class="person__pronouns">({{ pronouns }})</div>
  {% endif %}
  {% if position %}
    <div class="person__position">{{ position }}</div>
  {% endif %}
  {% if phone_numbers.0 or emails.0 %}
    <div class="person__contacts">
      <ul>
        {% for i in phone_numbers['#items'] | keys %}
          <li>{{ phone_numbers[i] }}</li>
        {% endfor %}

        {% for j in emails['#items'] | keys %}
          <li>{{ emails[j] }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  </div>
</article>
