{{ attach_library('classy/node') }}
<article{{ attributes.addClass('photo-gallery').addClass(classes) }}>
 {% if media %}
    <div class="photo-gallery__media">
      {{ media }}
    </div>
  {% endif %}

  {% if summary and summary is not iterable %}
  <div class="photo-gallery__info">
    {% if title %}
      <div class="photo-gallery__title">
        <a href="{{ url }}">{{ title }}</a>
      </div>
    {% endif %}
    <div class="photo-gallery__summary">
      {{ summary|striptags }}
    </div>
  </div>
  {% endif %}
</article>
