{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {% if summary and summary is not iterable %}
  <div class="photo-gallery__info">
    <div class="photo-gallery__summary">
     {{ summary|striptags }}
    </div>
  </div>
  {% endif %}

  {% if gallery_images %}
  <div class="photo-gallery__images">
    {{ gallery_images }}
  </div>
  {% endif %}

  {% if category %}
      {{ category }}
    {% endif %}
</article>
