<div class="banner--box panel">
{# For Reverse alignment use class="banner--box banner--box--rev panel" #}
  <div class="banner--box__image">
    {{ image }}
  </div>

  <div class="banner--box__body">
    <div class="banner--box__body-inner">
    {% if title %}
      <h2 class="banner--box__title">{{ title }}</h2>
    {% endif %}

    {% if text %}
      <div class="banner--box__summary">
        {{ text }}
      </div>
    {% endif %}

      <div class="banner--box__button-group">
        {% if video_embed_url %}
        <a href="#" class="banner--box__button banner--box__video-play">Play Video</a>
        {% endif %}
        {% if link.url and link.title %}
        <a href="{{ link.url }}" class="banner--box__button">{{ link.title }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
