<div {{ content_attributes.addClass('card').addClass(card_classes) }}>
  {% if image %}
  <div class="card__image">
    {% if link.url %}<a href="{{ link.url }}">{% endif %}
      {{ image|without('title_suffix') }}
    {% if link.url %}</a>{% endif %}
  </div>
  {% endif %}
  <div class="card__info-wrapper">
    <div class="card__info">
      {% if title %}
        <h2 class="card__title">{{ title }}</h2>
      {% endif %}

      {% if text %}
        <div class="card__text text-formatted">{{ text }}</div>
      {% endif %}

      {% if link.url and link.title %}
        <div class="card__footer">
          <a href="{{ link.url }}" class="card__button">{{ link.title }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
