{{ attach_library('siteden_components/sf_focal_link') }}
<a href="{{ url }}" class="focal-link">

  {% if image or icon %}
    <div class="focal-link__figure">
      {% if use_custom %}
        {{ image }}
      {% else %}
        <span class="material-icons" aria-hidden="true">{{ icon }}</span>
      {% endif %}
    </div>
  {% endif %}

  <div class="focal-link__body">
    <div class="focal-link__text">{{ title }}</div>
  </div>
</a>
