<div class="hero-banner__image">
  {{ banner_image }}
</div>

<div class="hero-banner__body">
  <div class="hero-banner__body-inner">
    {% if banner_title %}
      <h2{{ title_attributes }}>{{ banner_title }}</h2>
    {% endif %}

    {% if banner_subtitle %}
      <div class="hero-banner__summary">
        {{ banner_subtitle }}
      </div>
    {% endif %}

    <div class="hero-banner__button-group">
      {% if video_embed_url %}
        <a href="#" class="hero-banner__button hero-banner__video-play">Play Video</a>
      {% endif %}
      {% if content.field_sf_link|render %}
        <a href="{{ content.field_sf_link.0['#url'] }}"
           class="hero-banner__button">{{ content.field_sf_link.0['#title'] }}</a>
      {% endif %}
    </div>
  </div>
</div>
