<div class="hero-banner__image">
  {{ banner_image }}
</div>

<div class="hero-banner__body">
  <div class="hero-banner__body-inner">
    {% if banner_title %}
      <h2{{ title_attributes }}><span>{{ banner_title }}</span></h2>
    {% endif %}
  </div>
</div>

{% if banner_subtitle or banner_button %}
  <div class="hero-banner__summary">
    {{ banner_subtitle }}
    {% if banner_button %}
      <div class="hero-banner__button-group">
        {#          {% if video_embed_url %} #}
        {#            <a href="#" class="hero-banner__button hero-banner__video-play">Play Video</a> #}
        {#          {% endif %} #}
        <a href="{{ banner_button['#url'] }}"
           class="hero-banner__button">{{ banner_button['#title'] }}</a>
      </div>
    {% endif %}
  </div>
{% endif %}

