{{ attach_library('siteden_components/sf_slider') }}

<section class="sf_slider splide" aria-label="Sliding banner">
  <div class="splide__track">
    <ul class="splide__list">

      {% for i, slideritem in slideritems %}
        <li class="splide__slide">

          <div class="slider-item slider-item--image-background-slider-heading">

            <div class="slider-item__image">
              {{ slideritem.image }}
            </div>

            <div class="slider-item__body-outer">
              <div class="slider-item__body">
                <div class="slider-item__body-inner">
                  {% if slideritem.title %}
                    <h2 class="slider-item__title">
                      <span>{{ slideritem.title }}</span>
                    </h2>
                  {% endif %}
                  {% if slideritem.subtitle %}
                    <div class="slider-item__subtitle">
                      <h3><span>{{ slideritem.subtitle }}</span></h3>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            {% if slideritem.text or slideritem.button %}
              <div class="slider-item__summary">
                <div class="slider-item__summary-inner">
                  {{ slideritem.text }}
                  {% if slideritem.button.url %}
                    <div class="slider-item__button-group">
                      <a href="{{ slideritem.button.url }}"
                        class="slider-item__button">{{ slideritem.button.title }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

          </div>

        </li>
      {% endfor %}

    </ul>
  </div>
</section>
