{{ attach_library('siteden_components/sf_tabs') }}
<div class="sf_tabs">
  <nav class="tabs__list" role="tablist" aria-label="content-tabs">
    {% for i, title_item in titles %}
      <button id="panel-{{ i }}" class="tabs__control" role="tab"{% if not loop.first %}aria-selected="false" {% endif %}" aria-controls="panel-{{ i }}-tab">{{ title_item }}</button>
    {% endfor %}
  </nav>

  <section class="tabs__panels" role="tabpanel">
    {% for j, content_item in content %}
      <article id="panel-{{ j }}-tab" tabindex="0" aria-labelledby="panel-{{ j }}" class="tabs__panel"{% if not loop.first %} hidden{% endif %}>
        <div class="tab__text text-formatted">
          {{ content_item }}
        </div>
      </article>
    {% endfor %}
  </section>
</div>
